[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
nbdime = "*"
flake8 = "*"
coverage = "*"
Sphinx = "*"

[packages]
src = {editable = true, path = "./"}
ipywidgets = "*"
numpy = "*"
scipy = "*"
pandas = "*"
pyarrow = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
kaleido = "*"
scikit-learn = "*"
umap-learn = "*"
mlxtend = "*"
hyperopt = "*"
shap = "*"
prometheus-api-client = "*"

[requires]
python_version = "3.6"
